RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

Options -Indexes

AuthType Basic
AuthName "Password Protected Area"
# AuthUserFile /var/www/smile189/data/www/keyno.pp.ua/.htpasswd
AuthUserFile E:\\OpenServer\\domains\\excel\\.htpasswd
Require valid-user

