body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.inline-flex{
    display: inline-flex;
}

.container{
    width: 90%;
}

#main-wrapper{
    margin: 0 auto;
}

#main-content {
    margin-top: 30px;
    margin-bottom: 90px;
}

li.main-menu-item {
    list-style-type: none;
    display: inline-flex;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 5px;
}

li.main-menu-item a{
    color: inherit;
    padding: 5px 20px;
}

li.main-menu-item:hover{
    /*color: #2F2BFF;*/
    background-color: #000;
    color: #fff;
}

#main-menu {
    background-color: #eeeeee;
    padding: 0 30px;
}

ul.main-menu-list {
    float: right;
    margin: 13px 0;
}
.menu-logo > h1 {
    margin: 0;
}
.menu-logo {
    margin: 9px 0;
}

footer{
    position: fixed;
    /* margin-top: 30px; */
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    bottom: 0;
    padding: 0 30px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.result-table {
    border: 8px double;
    margin: 15px;
    padding: 0 15px;
}

.result-table .row:nth-child(odd){
    background-color: #efefef;
}

.result-table .row {
    padding: 5px 0;
}
.result-table .row>div{
    border-left: 1px solid;
    word-wrap: break-word;
}

.result-table .row>div:first-child{
    border-left: none;
}


.dictionary-list .header-row{
    font-size: 1.2em;
    font-weight: bold;
    background-color: #eb9316;
}
.dictionary-list div .row:nth-child(odd){
    background-color: #efefef;
}

.dictionary-list div .row {
    padding: 5px 0;
    line-height: 34px;
}
.dictionary-list div .row>div{
    border-left: 1px solid;
    word-wrap: break-word;
}

.dictionary-list div .row>div:first-child{
    border-left: none;
}
.dictionary-list div .row:hover{
    background-color: #5bc0de;
}

.add-item-btn-fixed {
    position: fixed;
    bottom: 20px;
    right: 15px;
    height: 108px;
    width: 108px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgb(220, 241, 222);
    z-index: 5;
    outline: none!important;
}

.add-item-btn-fixed:hover{
    box-shadow: 0px 0px 10px 6px rgba(92, 184, 92, 0.5);
}
.add-item-btn-fixed:active{
    box-shadow: 0px 0px 10px 6px rgba(184, 110, 89, 0.5);
}